<div class="input-container">
    <label for="interval" class="icon fa-clock"></label>
    <select id="interval" [formControl]="interval">
        <option value="" disabled selected>Select Interval</option>
        <option *ngFor="let interval of formHelper.getIntervalOptions()" [value]="interval">{{interval}}</option>
    </select>
</div>

<div class="input-container">
    <label for="loopbackPeriod" class="icon fa-backward"></label>
    <input id="loopbackPeriod" type="number" placeholder="Loopback Period" [formControl]="loopbackPeriod">
</div>

<div class="input-container">
    <label for="symbol" class="icon fa-coins"></label>
    <select id="symbol" [formControl]="symbol">
        <option value="" disabled selected>Select Coin</option>
        <option *ngFor="let option of formHelper.getSymbolOptions()" [value]="option">{{option}}</option>
    </select>
</div>