<div class="card" tabindex="0">
    <app-stage-preview class="wide" [stage]="stage"/>
    <div class="actions" tabindex="1">
        <button class="warning icon fa-pen-to-square" title="Update" (click)="modalUpdate.open()"></button>
        <button class="bad icon fa-trash" title="Delete" (click)="modalDelete.open()"></button>
    </div>
</div>

<app-modal title="Update Stage" submitText="Update" submitClass="warning icon fa-pen-to-square" [closeOnSubmit]="true" #modalUpdate>
    <app-stage-form *ngIf="modalUpdate.isOpened" [stage]="stage" (submitted)="updated.emit($event)" #userForm />
</app-modal>

<app-modal title="Delete Stage" submitText="Delete" submitClass="bad icon fa-trash" (submitted)="deleted.emit($event)" [closeOnSubmit]="true" #modalDelete>
    <app-stage-preview [stage]="stage" />
</app-modal>