<div class="cards-container">
    <div *ngIf="!leftIndicator.value" class="card add-indicator icon fa-plus" (click)="leftIndicatormodalUpdate.open()"></div>    
    
    <div *ngIf="leftIndicator.value" class="card" tabindex="0">
        <app-indicator-preview class="wide" [indicator]="leftIndicator.value" />
        <div class="actions" tabindex="1">
            <button class="warning icon fa-pen-to-square" title="Update" (click)="leftIndicatormodalUpdate.open()"></button>
        </div>
    </div>
</div>

<div class="input-container">
    <label for="operator" class="icon" [ngClass]="{'fa-calculator': operator.value == '',
    'fa-greater-than-equal': operator.value == OperatorEnum.GreaterOrEqual,
    'fa-less-than-equal': operator.value == OperatorEnum.LessOrEqual,
    'fa-shuffle': operator.value == OperatorEnum.Crossed}"></label>
    <select required id="operator" [formControl]="operator">
        <option value="" disabled selected hidden>Operator</option>
        <option *ngFor="let operator of getOperatorOptions()" [value]="operator">{{operator}}</option>
    </select>
</div>

<div class="cards-container">
    <div *ngIf="!rightIndicator.value" class="card add-indicator icon fa-plus" (click)="rightIndicatorModalUpdate.open()"></div>

    <div *ngIf="rightIndicator.value" class="card" tabindex="0">
        <app-indicator-preview class="wide" [indicator]="rightIndicator.value" /> 
        <div class="actions" tabindex="1">
            <button class="warning icon fa-pen-to-square" title="Update" (click)="rightIndicatorModalUpdate.open()"></button>
        </div>
    </div>
</div>

<app-modal title="Update Indicator" submitText="Update" submitClass="warning icon fa-pen-to-square" [closeOnSubmit]="true" [isWide]="true" #leftIndicatormodalUpdate>
    <app-indicator-form *ngIf="leftIndicatormodalUpdate.isOpened" [indicator]="leftIndicator.value" (submitted)="leftIndicator.setValue($event)" #leftIndicatorForm />
</app-modal>

<app-modal title="Update Indicator" submitText="Update" submitClass="warning icon fa-pen-to-square" [closeOnSubmit]="true" [isWide]="true" #rightIndicatorModalUpdate>
    <app-indicator-form *ngIf="rightIndicatorModalUpdate.isOpened" [indicator]="rightIndicator.value" (submitted)="rightIndicator.setValue($event)" #rightIndicatorForm />
</app-modal>