<div class="input-container">
    <label for="username" class="icon fa-user"></label>
    <input id="username" type="text" placeholder="Username" [formControl]="username">
</div>

<div class="input-container">
    <label for="password" class="icon fa-lock"></label>
    <input id="password" type="password" placeholder="Password" name="-" autocomplete="new-password" [formControl]="password">
</div>

<div class="input-container borderless">
    <label for="isAdmin" class="icon fa-user-secret">Admin</label>
    <input id="isAdmin" type="checkbox" class="toggle" [formControl]="isAdmin">
</div>

<div *ngIf="isCreating" class="input-container borderless">
    <label for="isDisabled" class="icon fa-ban">Disabled</label>
    <input id="isDisabled" type="checkbox" class="toggle" [formControl]="isDisabled">
</div>