<div class="input-container">
    <label for="type" class="icon fa-list"></label>
    <select id="type" [formControl]="type">
        <option *ngFor="let type of getTypeOptions()" [value]="type">{{type}}</option>
    </select>
</div>

<div class="input-container">
    <label for="destination" class="icon fa-location"></label>
    <input id="destination" type="text" placeholder="Destination" [formControl]="destination">
</div>

<div class="input-container">
    <label for="description" class="icon fa-circle-info"></label>
    <input id="description" type="text" placeholder="Description" [formControl]="description">
</div>
