<div class="input-container">
    <label for="type">Type:</label>
    <select id="type" [formControl]="type">
        <option *ngFor="let type of getTypeOptions()" [value]="type">{{type}}</option>
    </select>
</div>

<div class="input-container">
    <label for="destination">Destination:</label>
    <input id="destination" type="text" [formControl]="destination">
</div>

<div class="input-container">
    <label for="description">Description:</label>
    <input id="description" type="text" [formControl]="description">
</div>
