<div class="input-container">
    <label for="type" class="icon fa-list"></label>
    <select required id="type" [formControl]="type">
        <option value="" disabled selected hidden>Type</option>
        <option *ngFor="let type of getTypeOptions()" [value]="type">{{type}}</option>
    </select>
</div>

<div *ngIf="stage" [ngSwitch]="stage.$type">
    <app-condition-form-part *ngSwitchCase="StageType.Condition" [stage]="castStage()" />
    <app-notification-form-part *ngSwitchCase="StageType.Notification" [stage]="castStage()" />
    <app-waiting-form-part *ngSwitchCase="StageType.Waiting" [stage]="castStage()" />
</div>