<div class="change-left">
    <app-indicator-preview [indicator]="block.indicator" />
    <span>{{block.periodLength}}{{block.periodUnit[0].toLowerCase()}} {{block.type}}</span>
</div>

<span *ngIf="block.operator == OperatorEnum.GreaterOrEqual" class="icon fa-greater-than-equal"></span>
<span *ngIf="block.operator == OperatorEnum.LessOrEqual" class="icon fa-less-than-equal"></span>
<span *ngIf="block.operator == OperatorEnum.Crossed" class="icon fa-shuffle"></span>

<div class="change-right">
    {{block.target}}{{block.isPercentage ? '%' : ''}}
</div>