<div class="card" tabindex="0">
    <app-user-preview class="wide" [user]="user"/>
    <div class="actions" tabindex="1">
        <button class="warning icon fa-pen-to-square" title="Update" (click)="modalUpdate.open()"></button>
        <button *ngIf="user.isDisabled" class="icon fa-heart-pulse" title="Enable" (click)="modalEnable.open()"></button>
        <button *ngIf="!user.isDisabled" class="disabled icon fa-ban" title="Disable" (click)="modalDisable.open()"></button>
        <button class="bad icon fa-trash" title="Delete" (click)="modalDelete.open()"></button>
    </div>
</div>

<app-modal title="Update User" submitText="Update" submitClass="warning icon fa-pen-to-square" #modalUpdate>
    <app-user-form *ngIf="modalUpdate.isOpened" [user]="user" (submitted)="update($event)" #userForm></app-user-form>
</app-modal>

<app-modal title="Delete User" submitText="Delete" submitClass="bad icon fa-trash" (submitted)="del()" #modalDelete>
    <app-user-preview [user]="user" />
</app-modal>

<app-modal title="Enable User" submitText="Enable" submitClass="neutral icon fa-heart-pulse" (submitted)="enable()" #modalEnable>
    <app-user-preview [user]="user" />
</app-modal>

<app-modal title="Disable User" submitText="Disable" submitClass="disabled icon fa-ban" (submitted)="disable()" #modalDisable>
    <app-user-preview [user]="user" />
</app-modal>