<div *ngIf="!isCreating">
    <select [ngModel]="channel.$type" (change)="changeChannelType(type.value)" #type>
        <option *ngFor="let type of getTypeOptions()" [value]="type">{{type}}</option>
    </select>
    <input type="text" [(ngModel)]="channel.description" placeholder="Description">
    <div [ngSwitch]="channel.$type">
        <app-channel-create-telegram *ngSwitchCase="ChannelType.Telegram" [channel]="castChannel()" />
        <app-channel-create-email *ngSwitchCase="ChannelType.Email" [channel]="castChannel()" />
    </div>
</div>
<div>
    <button [disabled]="isCreating" (click)="create()">Create</button>
</div>
