<div [ngSwitch]="channel.$type">
    [{{channel.$type}}]
    <app-channel-item-telegram *ngSwitchCase="ChannelType.Telegram" [channel]="castChannel()" />
    <app-channel-item-email *ngSwitchCase="ChannelType.Email" [channel]="castChannel()" />
    <button *ngIf="!channel.isVerified" (click)="modalVerify.open()">V</button>
    <button (click)="modalUpdate.open()">U</button>
    <button (click)="modalDelete.open()">D</button>
    <app-modal title="Verify Channel" #modalVerify>
        <app-channel-verify [channel]="channel" *ngIf="modalVerify.isOpened" (verified)="changed.emit(); modalVerify.close()"/>
    </app-modal>
    <app-modal title="Update Channel" #modalUpdate>
        <app-channel-update [channel]="channel" *ngIf="modalUpdate.isOpened" (updated)="changed.emit(); modalUpdate.close()"/>
    </app-modal>
    <app-modal title="Delete Channel" [showConfirm]="true" confirmText="Delete" (confirmed)="del()" #modalDelete>
        Do you want to delete?
    </app-modal>
</div>
