<div [ngSwitch]="channel.$type">
    [{{channel.$type}}]
    <app-channel-item-telegram *ngSwitchCase="ChannelType.Telegram" [channel]="castChannel()" />
    <app-channel-item-email *ngSwitchCase="ChannelType.Email" [channel]="castChannel()" />
    <button (click)="modalUpdate.open()">U</button>
    <button (click)="modalDelete.open()">D</button>
    <app-modal #modalUpdate>
        <app-channel-update [channel]="channel" *ngIf="modalUpdate.isOpened" (updated)="updated.emit(); modalUpdate.close()"/>
    </app-modal>
    <app-modal #modalDelete>
        <app-channel-delete [channel]="channel" *ngIf="modalDelete.isOpened" (deleted)="deleted.emit(); modalDelete.close()"/>
    </app-modal>
</div>
