<div class="input-container borderless">
    <label for="shouldRetry" class="icon fa-repeat">Should Retry</label>
    <input id="shouldRetry" type="checkbox" class="toggle" [(ngModel)]="shouldRetry">
</div>

<div *ngIf="shouldRetry" class="input-container">
    <label for="retryCount" class="icon fa-hashtag"></label>
    <input id="retryCount" type="number" placeholder="Retry Count" [formControl]="retryCount">
</div>

<div *ngIf="shouldRetry" class="input-container">
    <label for="retryDelayUnit" class="icon fa-ruler"></label>
    <select id="retryDelayUnit" [formControl]="retryDelayUnit">
        <option *ngFor="let timeUnit of getUnitOptions()" [value]="timeUnit">{{timeUnit}}</option>
    </select>
</div>

<div *ngIf="shouldRetry" class="input-container">
    <label for="retryDelayLength" class="icon fa-hourglass-half"></label>
    <input id="retryDelayLength" type="number" placeholder="Retry Delay Length" [formControl]="retryDelayLength">
</div>

<div class="input-container borderless">
    <label class="icon fa-cube">Block</label>
</div>

<div class="cards-container">
    <div *ngIf="!block.value" class="card add-block icon fa-plus" (click)="modalUpdate.open()"></div>

    <div *ngIf="block.value" class="card" tabindex="0">
        <app-block-preview class="preview wide" [block]="block.value" (click)="modalUpdate.open()" />
        <div class="actions" tabindex="1">
            <button class="warning icon fa-pen-to-square" title="Update" (click)="modalUpdate.open()"></button>
        </div>
    </div> 

    <app-modal title="Update Block" submitText="Update" submitClass="warning icon fa-pen-to-square" [closeOnSubmit]="true" #modalUpdate>
        <app-block-form *ngIf="modalUpdate.isOpened" [block]="block.value" (submitted)="block.setValue($event)" #blockForm />
    </app-modal>
</div>