:host {
    #background {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(2px);
        animation: blur 1s forwards;
    }

    @keyframes blur {
        from {
            backdrop-filter: blur(0);
        }

        to {
            backdrop-filter: blur(2px);
        }
    }

    #window {
        display: flex;
        flex-direction: column;
        padding: 20px;
        background: #2b2b2b;
        border-radius: 10px;
        box-shadow: 0px 0px 20px 0px black;
        animation: fade-out 1s forwards;
    }

    @keyframes fade-out {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    #header {
        display: flex;
        justify-content: space-between;
        gap: 10px;

        #title {
            font-size: large;
        }
    
        #close {
            height: 25px;
            width: 25px;
            padding: 0px;
            background-color: var(--color-button-bad);
        }
    }

    #content {
        padding: 25px;
        border-radius: 10px;
    }

    #footer {
        display: flex;
        justify-content: center;
    }
}