<div id="window">
    <div id="header" [style.justify-content]="showClose? 'space-between' : 'center'">
        <span id="title">{{title}}</span>
        <button class="icon fa-xmark" *ngIf="showClose" id="close" (click)="close()"></button>
    </div>
    <div id="content" [class.loading]="isSubmitted && !isError">
        <ng-content *ngIf="!isError"/>
        <span *ngIf="isError" id="error">Oops, something went wrong. Please try again later.</span>
    </div>
    <div *ngIf="showSubmit" id="footer">
        <button
            [disabled]="form.invalid || isSubmitted"
            class="{{submitClass}}"
            (click)="submit()">{{ submitText }}
        </button>
    </div>
</div>