@import "../../../variables.scss";

:host {
    z-index: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: blur 1s forwards;

    @keyframes blur {
        from {
            backdrop-filter: blur(0px)+brightness(100%);
        }

        to {
            backdrop-filter: blur(3px)+brightness(90%);
        }
    }

    &:not(.opened) {
        display: none;
    }

    #window {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 260px;
        padding: 20px;
        background: $color-background-secondary;
        border-radius: 10px;
        box-shadow: 0px 0px 20px 0px $color-shadow;
        animation: fade-out 1s forwards;

        @keyframes fade-out {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
    }

    #header {
        display: flex;
        gap: 10px;
        justify-content: center;

        &:has(#close) {
            justify-content: space-between;
        }

        #title {
            font-size: large;
        }

        #close {
            height: 25px;
            width: 25px;
            padding: 0px;
            background: $color-bad;
        }
    }

    #content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding: 25px;
        border-radius: 5px;
        background: $color-background-primary;
        box-shadow: inset 0px 0px 10px 0px $color-shadow;
        transition: 1s;

        &.loading {
            filter: blur(1px);
            pointer-events: none;

            &:after {
                $spinner-border-size: 15px;

                content: "";
                position: absolute;
                height: calc((100% - $spinner-border-size * 2) * .5);
                aspect-ratio: 1/1;
                border-radius: 50%;
                border-top: $spinner-border-size solid $color-good;
                border-right: $spinner-border-size solid $color-warning;
                border-bottom: $spinner-border-size solid $color-bad;
                border-left: $spinner-border-size solid $color-neutral;
                animation: spin 1s linear infinite;

                @keyframes spin {
                    0% {
                        transform: rotate(0deg);
                    }

                    100% {
                        transform: rotate(360deg);
                    }
                }
            }
        }

        #error {
            color: $color-warning;
        }
    }

    #footer {
        display: flex;
        justify-content: center;
    }
}