:host {
    #background {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: blur 1s forwards;
    }

    @keyframes blur {
        from {
            backdrop-filter: blur(0px)+brightness(100%);
        }

        to {
            backdrop-filter: blur(3px)+brightness(90%);
        }
    }

    #window {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 260px;
        padding: 20px;
        background: var(--color-background-secondary);
        border-radius: 10px;
        box-shadow: 0px 0px 20px 0px var(--color-shadow);
        animation: fade-out 1s forwards;
    }

    @keyframes fade-out {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    #header {
        display: flex;
        gap: 10px;

        #title {
            font-size: large;
        }
    
        #close {
            height: 25px;
            width: 25px;
            padding: 0px;
            background: var(--color-bad);
        }
    }

    #content {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 25px;
        border-radius: 5px;
        background: var(--color-background-primary);
        box-shadow: inset 0px 0px 10px 0px var(--color-shadow);
    }

    #footer {
        display: flex;
        justify-content: center;
    }
}