<div class="input-container">
    <label for="type" class="icon fa-list"></label>
    <select required id="type" [formControl]="type">
        <option value="" disabled selected hidden>Type</option>
        <option *ngFor="let type of formHelper.getIndicatorTypeOptions()" [value]="type">{{type}}</option>
    </select>
</div>

<div *ngIf="indicator" [ngSwitch]="indicator.$type">
    <app-bb-form-part *ngSwitchCase="formHelper.IndicatorTypeEnum.BollingerBands" [indicator]="castIndicator()" />
    <app-candle-form-part *ngSwitchCase="formHelper.IndicatorTypeEnum.Candle" [indicator]="castIndicator()" />
    <app-constant-form-part *ngSwitchCase="formHelper.IndicatorTypeEnum.Constant" [indicator]="castIndicator()" />
    <app-ema-form-part *ngSwitchCase="formHelper.IndicatorTypeEnum.ExponentialMovingAverage" [indicator]="castIndicator()" />
    <app-rsi-form-part *ngSwitchCase="formHelper.IndicatorTypeEnum.RelativeStrengthIndex" [indicator]="castIndicator()" />
    <app-sma-form-part *ngSwitchCase="formHelper.IndicatorTypeEnum.SimpleMovingAverage" [indicator]="castIndicator()" />
</div>

