:host {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
    background: var(--color-background-secondary);
    box-shadow: 0px 0px 10px 0px var(--color-shadow);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    .menu-item {
        text-align: center;
        color: var(--color-font-primary);
        -webkit-tap-highlight-color: transparent;
        text-decoration: none;
        font-size: large;
        font-weight: bold;
        text-shadow: 2px 2px 3px var(--color-shadow);
        transition: 0.3s;
        will-change: transform;

        &:hover {
            transform: scale(120%);

            &:active {
                transform: scale(100%);
                transition: 0s;
            }
        }

        &.active {
            color: var(--color-neutral);
            transform: scale(100%);
            transition: 0s;
        }

        @media only screen and (max-width: 768px) {
            transform: scale(100%);
        }

        @media only screen and (max-width: 420px) {
            font-size: small;
        }
    }
}