:host{
    display: flex;
    flex-flow: column;
    gap: 10px;
}

#stages-container {
    display: flex;
    flex-flow: column;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px dashed var(--color-font-primary);
}