@font-face {
    font-family: "Comic Sans MS";
    src: local("Comic Sans MS"), local("ComicSansMS"), url("./assets/fonts/ComicSansMS.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

:root {
    --color-good: green;
    --color-bad: red;
    --color-neutral: #1177bb;
    --color-warning: orange;
    --color-disabled: grey;
    --color-font-primary: white;
    --color-font-secondary: grey;
    --color-shadow: black;
    --color-background-primary: #202124;
    --color-background-secondary: #35363a;
    --color-background-middle: #2b2c2f;

    --font-main: 100% "Comic Sans MS";
}

::-webkit-scrollbar {
    width: 10px;
    background-color: var(--color-background-secondary);

    @media only screen and (max-width: 860px) {
        background-color: var(--color-background-primary);
    }
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-background-primary);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    @media only screen and (max-width: 860px) {
        background-color: var(--color-background-secondary);
    }

    &:hover {
        background-color: #2B2C2F;
    }
}

body {
    margin: 0px;
    background-color: var(--color-background-secondary);
    color: var(--color-font-primary);
    font: var(--font-main);
    overflow-x: hidden;
}

button {
    color: var(--color-font-primary);
    font: var(--font-main);
    padding: 5px 10px 5px 10px;
    background: var(--color-neutral);
    -webkit-tap-highlight-color: transparent;
    border-style: none;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 0px var(--color-shadow);
    transition: .3s;
    will-change: transform;

    &:enabled {
        cursor: pointer;

        @media(hover: hover) and (pointer: fine) {
            &:hover {
                transform: scale(120%);

                &:active {
                    filter: brightness(80%);
                    transform: scale(100%);
                    box-shadow: 0px 0px 1px 0px var(--color-shadow);
                }
            }
        }
    }

    &:disabled {
        filter: saturate(0%);
        color: var(--color-disabled);
    }

    &.large {
        padding: 10px 25px 10px 25px;
        font-size: x-large;
        box-shadow: 0px 0px 10px 0px var(--color-shadow);
        border-radius: 10px;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: 0s;
    box-shadow: inset 0px 0px 0px 100px var(--color-background-primary);
    caret-color: var(--color-font-primary);
    -webkit-text-fill-color: var(--color-font-primary);
}

.input-container {
    padding: 5px;
    display: flex;
    gap: 10px;
    align-items: center;
    border-bottom: 1px solid var(--color-font-secondary);
    transition: .5s;

    &.borderless {
        border-style: none;
    }

    &:has(input.ng-invalid.ng-touched) {
        border-color: var(--color-bad);
    }

    input {
        color: var(--color-font-primary);
        font: var(--font-main);
        outline: none;
        background: transparent;
        border: none;
        width: 100%;
        transition: .5s;
    }

    label {
        color: var(--color-font-secondary);
        cursor: pointer;
    }
}

input[type="checkbox"].toggle {
    appearance: none;
    display: flex;
    align-items: center;
    padding: 2px;
    height: 24px;
    width: 44px;
    border-radius: 20px;
    -webkit-tap-highlight-color: transparent;
    background: var(--color-font-secondary);
    box-shadow: 0px 0px 3px 0px var(--color-shadow);
    transition: .3s;
    will-change: transform;
    cursor: pointer;

    &:before {
        content: "";
        border-radius: 50%;
        height: 100%;
        aspect-ratio: 1/1;
        background: var(--color-font-primary);
        transition: .3s;
    }

    &:checked {
        background: var(--color-neutral);

        &:before {
            transform: translateX(100%);
        }
    }

    @media(hover: hover) and (pointer: fine) {
        &:hover {
            transform: scale(120%);
        }
    }
}

.ng-invalid.ng-touched {
    border-color: var(--color-bad);
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    height: 100%;
    
    &.loading {
        &>* {
            display: none;
            opacity: 0;
        }

        pointer-events: none;
        filter: blur(3px)+brightness(90%);

        &:after {
            content: "";
            filter: blur(10px);
            opacity: 0;
            position: fixed;
            top: calc(50% - 100px);
            left: calc(50% - 100px);
            width: 200px;
            height: 200px;
            border-radius: 50%;
            border-top: 20px solid var(--color-good);
            border-right: 20px solid var(--color-warning);
            border-bottom: 20px solid var(--color-bad);
            border-left: 20px solid var(--color-neutral);
            animation: fade-out 1s .2s forwards, spin 2s linear infinite;

            @keyframes fade-out {
                from {
                    opacity: 0%;
                }

                to {
                    opacity: 100%;
                }
            }

            @keyframes spin {
                from {
                    transform: rotate(0deg);
                }

                to {

                    transform: rotate(360deg);
                }
            }
        }
    }
}

.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 100%;
    width: 100%;
}