@import "variables.scss";

@font-face {
    font-family: "Comic Sans MS";
    src: local("Comic Sans MS"), local("ComicSansMS"), url("./assets/fonts/ComicSansMS.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: $color-background-secondary;

    @media only screen and (max-width: 860px) {
        background-color: $color-background-primary;
    }
}

::-webkit-scrollbar-thumb {
    background-color: $color-background-primary;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    @media only screen and (max-width: 860px) {
        background-color: $color-background-secondary;
    }

    &:hover {
        background-color: #2B2C2F;
    }
}

body {
    margin: 0px;
    background-color: $color-background-secondary;
    color: $color-font-primary;
    font: $font-main;
    overflow-x: hidden;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &:before {
        font: var(--fa-font-solid);
        display: inline-block;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }

    &.brand {
        &:before {
            font: var(--fa-font-brands);
        }
    }
}

.good {
    background: $color-good;
}

.warning {
    background: $color-warning;
}

.bad {
    background: $color-bad;
}

.disabled {
    background: $color-disabled;
}

.admin {
    background: $color-admin;
}

button {
    color: $color-font-primary;
    font: $font-main;
    padding: 10px 10px 10px 10px;
    background: $color-neutral;
    -webkit-tap-highlight-color: transparent;
    border-style: none;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 0px $color-shadow;
    transition: .3s;
    will-change: transform;

    &:enabled {
        cursor: pointer;

        @media(hover: hover) and (pointer: fine) {
            &:hover {
                transform: scale(120%);

                &:active {
                    filter: brightness(80%);
                    transform: scale(100%);
                    box-shadow: 0px 0px 1px 0px $color-shadow;
                }
            }
        }
    }

    &:disabled {
        filter: saturate(0%);
        color: $color-disabled;
    }

    &.large {
        padding: 10px 25px 10px 25px;
        font-size: x-large;
        box-shadow: 0px 0px 10px 0px $color-shadow;
        border-radius: 10px;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: 0s;
    box-shadow: inset 0px 0px 0px 100px $color-background-primary;
    caret-color: $color-font-primary;
    -webkit-text-fill-color: $color-font-primary;
}

.input-container {
    padding: 5px;
    display: flex;
    gap: 10px;
    align-items: center;
    border-bottom: 1px solid $color-font-secondary;
    transition: .5s;

    &.borderless {
        border-style: none;
    }

    &:has(input.ng-invalid.ng-touched) {
        border-color: $color-bad;
    }

    select {
        background: $color-background-primary;
        color: $color-font-primary;
        font: $font-main;
        border: none;
        outline: none;
        width: 100%;
        padding: 0px;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
    }

    input {
        color: $color-font-primary;
        font: $font-main;
        outline: none;
        background: transparent;
        border: none;
        width: 100%;
        transition: .5s;
    }

    label {
        color: $color-font-secondary;
        cursor: pointer;
    }
}

input[type=number] {
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

input[type="checkbox"].toggle {
    appearance: none;
    display: flex;
    align-items: center;
    padding: 2px;
    height: 24px;
    width: 44px;
    border-radius: 20px;
    -webkit-tap-highlight-color: transparent;
    background: $color-font-secondary;
    box-shadow: 0px 0px 3px 0px $color-shadow;
    transition: .3s;
    will-change: transform;
    cursor: pointer;

    &:before {
        content: "";
        border-radius: 50%;
        height: 100%;
        aspect-ratio: 1/1;
        background: $color-font-primary;
        transition: .3s;
    }

    &:checked {
        background: $color-neutral;

        &:before {
            transform: translateX(100%);
        }
    }

    @media(hover: hover) and (pointer: fine) {
        &:hover {
            transform: scale(120%);
        }
    }
}

.ng-invalid.ng-touched {
    border-color: $color-bad;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    height: 100%;
    transition: .5s;

    &.loading {
        &>* {
            display: none;
        }

        pointer-events: none;

        &:after {
            $spinner-size: 200px;
            $spinner-border-width: 20px;

            content: "";
            opacity: 0;
            position: fixed;
            top: calc(50% - $spinner-border-width - $spinner-size / 2);
            left: calc(50% - $spinner-border-width - $spinner-size / 2);
            width: $spinner-size;
            height: $spinner-size;
            border-radius: 50%;
            border-top: $spinner-border-width solid $color-good;
            border-right: $spinner-border-width solid $color-warning;
            border-bottom: $spinner-border-width solid $color-bad;
            border-left: $spinner-border-width solid $color-neutral;
            box-shadow: 0 0 10px 0 $color-shadow;
            animation: fade-out 1s .2s forwards, spin 2s linear infinite;

            @keyframes fade-out {
                from {
                    opacity: 0%;
                }

                to {
                    opacity: 100%;
                }
            }

            @keyframes spin {
                from {
                    transform: rotate(0deg);
                }

                to {

                    transform: rotate(360deg);
                }
            }
        }
    }
}

.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 100%;
    width: 100%;

    .card {
        background: $color-background-secondary;
        box-shadow: 0px 0px 10px 0px $color-shadow;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        width: 100%;
        transition: .3s;
        will-change: transform;

        .actions {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px;
            background: rgba($color-background-secondary, 75%);
            backdrop-filter: blur(1px);
            border-radius: inherit;
            opacity: 0%;
            transition: inherit;
            will-change: transform;
            pointer-events: none;

            button {
                width: 60px;
                height: 40px;
                border-radius: 10px;
            }
        }

        &:focus-within {
            .actions:not(:focus) {
                opacity: 100%;
                pointer-events: all;
            }
        }

        @media(hover: hover) and (pointer: fine) {
            max-width: 400px;

            &:hover {
                transform: scale(105%);
            }
        }
    }
}