$color-good: green;
$color-bad: red;
$color-neutral: #1177bb;
$color-warning: orange;
$color-admin: tomato;
$color-disabled: grey;
$color-font-primary: white;
$color-font-secondary: grey;
$color-shadow: black;
$color-background-primary: #202124;
$color-background-secondary: #35363a;
$color-background-middle: #2b2c2f;

$font-main: 100% "Comic Sans MS";