<div class="cards-container">
    <div *ngIf="!block.indicator" class="card add-indicator icon fa-plus" (click)="modalUpdate.open()"></div>
    
    <app-indicator-preview *ngIf="block.indicator" [indicator]="block.indicator" /> 

    <app-modal title="Update Indicator" submitText="Update" submitClass="warning icon fa-pen-to-square" [closeOnSubmit]="true" #modalUpdate>
        <!-- <app-indicator-form *ngIf="indicatorForm.isOpened" [indicator]="block.indicator" (submitted)="block.indicator= $event" #indicatorForm /> -->
    </app-modal>
</div>

<div class="input-container">
    <label for="type" class="icon" [ngClass]="{'fa-angle-up': type.value == ChangeBlockType.Increase,
    'fa-arrow-down-up-across-line': type.value == ChangeBlockType.Cross,
    'fa-angle-down': type.value == ChangeBlockType.Decrease}"></label>
    <select id="type" [formControl]="type">
        <option *ngFor="let type of getTypeOptions()" [value]="type">{{type}}</option>
    </select>
</div>

<div class="input-container">
    <label for="operator" class="icon" [ngClass]="{'fa-greater-than-equal': operator.value == OperatorEnum.GreaterOrEqual,
    'fa-less-than-equal': operator.value == OperatorEnum.LessOrEqual,
    'fa-shuffle': operator.value == OperatorEnum.Crossed}"></label>
    <select id="operator" [formControl]="operator">
        <option *ngFor="let operator of getOperatorOptions()" [value]="operator">{{operator}}</option>
    </select>
</div>

<div class="input-container">
    <label for="target" class="icon fa-bullseye"></label>
    <input id="target" type="number" placeholder="Target" [formControl]="target">
</div>

<div class="input-container borderless">
    <label for="isPercentage" class="icon fa-percent">Is Percentage</label>
    <input id="isPercentage" type="checkbox" class="toggle" [(ngModel)]="block.isPercentage">
</div>

<div class="input-container">
    <label for="periodUnit" class="icon fa-ruler"></label>
    <select id="periodUnit" [formControl]="periodUnit">
        <option *ngFor="let timeUnit of getUnitOptions()" [value]="timeUnit">{{timeUnit}}</option>
    </select>
</div>

<div class="input-container">
    <label for="periodLength" class="icon fa-hourglass-half"></label>
    <input id="periodLength" type="number" placeholder="Period Length" [formControl]="periodLength">
</div>