<app-indicator-preview [indicator]="block.indicator" />

<div class="icon" [ngClass]="{'fa-angle-up': block.type == ChangeBlockType.Increase,
'fa-arrow-down-up-across-line': block.type == ChangeBlockType.Cross,
'fa-angle-down': block.type == ChangeBlockType.Decrease}">{{block.type}}
</div>

<div class="icon" [ngClass]="{'fa-greater-than-equal': block.operator == OperatorEnum.GreaterOrEqual,
'fa-less-than-equal': block.operator == OperatorEnum.LessOrEqual,
'fa-shuffle': block.operator == OperatorEnum.Crossed}">{{block.operator}}
</div>

<div *ngIf="block.target" class="icon fa-bullseye">{{block.isPercentage ? block.target + "%" : block.target}}</div>

<div>{{block.periodLength}} {{block.periodUnit}}</div>

