<div class="cards-container">
    <div *ngIf="!block.leftIndicator" class="card add-indicator icon fa-plus" (click)="leftIndicatormodalUpdate.open()"></div>    
    <app-indicator-preview *ngIf="block.leftIndicator" [indicator]="block.leftIndicator" /> 
</div>

<div class="input-container">
    <label for="operator" class="icon" [ngClass]="{'fa-greater-than-equal': operator.value == OperatorEnum.GreaterOrEqual,
    'fa-less-than-equal': operator.value == OperatorEnum.LessOrEqual,
    'fa-shuffle': operator.value == OperatorEnum.Crossed}"></label>
    <select id="operator" [formControl]="operator">
        <option *ngFor="let operator of getOperatorOptions()" [value]="operator">{{operator}}</option>
    </select>
</div>

<div class="cards-container">
    <div *ngIf="!block.rightIndicator" class="card add-indicator icon fa-plus" (click)="rightIndicatorModalUpdate.open()"></div>
    <app-indicator-preview *ngIf="block.rightIndicator" [indicator]="block.rightIndicator" /> 
</div>

<app-modal title="Update Indicator" submitText="Update" submitClass="warning icon fa-pen-to-square" [closeOnSubmit]="true" #leftIndicatormodalUpdate>
    <app-indicator-form *ngIf="leftIndicatormodalUpdate.isOpened" [indicator]="block.leftIndicator" (submitted)="block.leftIndicator= $event" #leftIndicatorForm />
</app-modal>

<app-modal title="Update Indicator" submitText="Update" submitClass="warning icon fa-pen-to-square" [closeOnSubmit]="true" #rightIndicatorModalUpdate>
    <app-indicator-form *ngIf="rightIndicatorModalUpdate.isOpened" [indicator]="block.rightIndicator" (submitted)="block.rightIndicator= $event" #rightIndicatorForm />
</app-modal>